.left-bar-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 15%;
  min-height: 100vh;
  background-color: #3cdcc3;
  flex-direction: column;
  overflow-x: hidden;
  position: fixed;
}

.left-bar-menu {
  width: 100%;
}

.left-bar-menu > ul {
  list-style: none;
  margin: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.left-bar-menu li {
 padding: 1rem 1.5rem;
}

.left-bar-menu li:hover {
  background-color: #1c8c7b;
  cursor: pointer;
}

.left-bar-menu .dark-list{
  background-color: #1c8c7b;
}
