* {
  margin: 0;
}
html,
body,
#root {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
